*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
}

h2{
    margin-bottom: 0px;
}

main{
    padding: 10px;;
}

body{
    background-color: #374151;
}

ul {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: white;
}

h1{
    display: block;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 1.5rem;
    margin-bottom: 0px;
}


.encabezado{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    background-color: #6c7b95;
    margin-top: 15px;
    border: 2px solid #546075;
}

.menu {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
    height: 100%;
    background-color: #374151;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    gap: 10px;
    
}

.menu a {
    line-height: 60px;
    font-size: 1rem;
}

.menu-abierto {
    opacity: 1;
    pointer-events: all;
}

.cerrar-menu {
    align-self: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 25px;
    
    
}

.abrir-menu {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}

.icono-menu {
    width: 30px;
}

.abrir-menu:focus:not(:focus-visible),
.cerrar-menu:focus:not(:focus-visible) {
    outline: none;
}

.imgAvatar{
    width: 250px ;
    height: 240px;
    margin-top: 3vh;
    margin-left: 3vh;
    padding: 5px;
    border-radius: 255px;
    border: 5px double #000000;
    
}

.name{
    margin-top: 1vh;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 10px 0px 10px;
}

.textoAvatar{
    color: rgba(255, 255, 255, 0.682);
    padding: 0px 10px 10px 10px;
    text-align: center;
    border-radius: 25px;
    font-size: 1rem;
}

.menuTexto{
	font-size: 2rem;
	font-weight: 500;
	border-bottom: 1px solid rgb(255, 255, 255);
    transition-duration: 0.1s;
}

.menuTexto:hover{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.197);
}


.bi-github,
.bi-linkedin{
font-size: 34px;
transition-duration: 0.2s;
}



.menu-abierto .ocultar-botones {
    display: none;
}

.bi-linkedin,
.bi-github{
    font-size: 1.7rem;
}

.iconLinkedin,
.iconGithub,
.bi-filetype-pdf{
    font-size: 1rem;
    padding-right: 10px;
}

.contenedorLinkedin{
    background-color: rgba(255, 255, 255, 0.078);
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    transition-duration: 0.1s;
}

.contenedorGithub{
    background-color: rgba(255, 255, 255, 0.078);
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    transition-duration: 0.1s;
}

.contenedorLinkedin:hover,
.contenedorGithub:hover{
    transform: scale(1.1);
}


.bi-terminal,
.bi-person,
.bi-mortarboard,
.bi-gear,
.bi-envelope-arrow-down,
.bi-mortarboard{
    color: white;
    font-size: 1.9rem;
    padding-right: 10px;
}

.secciones{
    margin-left: 20px;
    margin-right: 20px;
    
}

.cardProyecto1{
    width: 100%;
    height: 220px;
    background: url("../assets/capturaVictoliana.jpg") center/cover no-repeat;
    padding: 20px;
    border-radius: 15px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.cardProyecto1:hover{
    background: aliceblue;
    .infoTarjeta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cardProyecto2{
    width: 100%;
    height: 220px;
    background: url("../assets/capturaPortafolio.PNG") center/cover no-repeat;
    padding: 20px;
    border-radius: 15px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.cardProyecto2:hover{
    background: aliceblue;
    .infoTarjeta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.imgTecnologia{
    width: 5vh;
    height: 5vh;
}

.imgEnlace{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.infoTarjeta{
    display: none;
}

.textSobreMi{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.html,
.css,
.java,
.python{
    width: 9vh;
    height: 9vh;
}

.boostrap,
.javascript{
    width: 8vh;
    height: 8vh;
}

input{
    width: 40vh;
    border-radius: 20px;
    border: 1px solid #374151;
    padding: 10px;
}

textarea{
    width: 40vh;
    height: 40vh;
    border-radius: 20px;
    border: 1px solid #374151;
    padding: 10px;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: rgb(244, 244, 244);
    color: rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

input:focus,
textarea:focus{
    outline: none;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.tituloCertificado{
    font-size: 1.2rem;
}

.bi-calendar{
    color: white;
    font-size: 1.1rem;
    opacity: 0.75;
}

h2{
    font-size: 2rem;
}

.iconCertificado{
    color: white;
    margin-left: 200px;
    font-size: 1.5rem;
}